/**
* -------------------------------------------------------------------------------------------------------
* Button Styles
*--------------------------------------------------------------------------------------------------------
**/

.btn {
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  outline: none;
  border: 1px solid;
  font-size: rem-calc(18px);
  @include border-radius(3px);
}